* {
    padding: 0;
    margin: 0;
    box-sizing:content-box;

}
body {
    background-color: aliceblue;
}
li {
    display: inline-block;
}
a {
    text-decoration: none; 
    font-size: 1.25rem;
    font-weight: 800;
}
ul {
    padding: 10px;
    background-color: brown;
    display: flex;
    justify-content:space-between;
    text-align: center;
}